* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f5f4f0;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
}

ul li::marker {
  color: #333333;
}

main {
  margin: 88px 80px 0 80px;
}

.headline {
  text-transform: uppercase;
  font-weight: bold;
  color: #e1624f;
}

.title {
  font-weight: bold;
  color: #1b1b1b;
}

.subtitle-italico {
  font-style: italic;
  text-align: center;
  font-size: 16px;
  color: #333333;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

.section-top {
  margin-bottom: 64px;
}

.section-top img {
  border-radius: 28px;
  width: 100%;
  height: 660px;
  margin-top: 44px;
  object-fit: cover;
}

.section-top p {
  margin-top: 24px;
  margin-bottom: 44px;
}

.section-bottom p {
  margin-top: 8px;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 16px;
  color: #333333;
}

.card-section-bottom {
  margin-top: 48px;
}

.card-section-bottom img {
  border-radius: 28px;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  object-fit: cover;
}

.card-section-bottom h3 {
  margin-left: 8px;
}

.card-section-bottom p {
  margin-bottom: 16px;
}

.card-section-bottom span {
  font-size: 16px;
  font-weight: bold;
}

.card-section-bottom ul {
  padding-left: 26px;
}

.card-section-bottom li {
  font-weight: bold;
  font-size: 16px;
}

.card-section-bottom-li-blue {
  color: #0c51a7;
}

.card-section-bottom-li-purple {
  color: #591b98;
}

.card-section-bottom-li-pink {
  color: #E5245E;
}

.card-section-bottom-li-orange {
  color: #E95E10;
}

footer {
  margin: 40px 80px;
  text-align: center;
}

footer p {
  margin-top: 48px;
  margin-bottom: 65px;
}

footer span {
  font-family: "Alice", sans-serif;
}
